    <nav role="navigation" class="d-flex d-sm-none">
    <div id="menuToggle">

      <input type="checkbox" />
      
      <span></span>
      <span></span>
      <span></span>
      

      <ul id="menu">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/home']">Home</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/ranking']">Ranking</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/lastsearch']">Last Search</a>
      </ul>
    </div>
  </nav>

  <header class="mb-auto">
    <div class="d-flex">
      <h3 class="float-md-start mb-0">GitHub</h3>
      <nav class="nav nav-masthead justify-content-center ml-auto d-none d-sm-flex">
        <a class="nav-link"  routerLinkActive="active" [routerLink]="['/home']">Home</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/ranking']">Ranking</a>
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/lastsearch']">Last Search</a>
      </nav>
      
    </div>
  </header>
